html,
body {
  background-color: #b56498;
}

footer {
  padding-top: 2em;
}

.st1 {
  fill: none;
  stroke: #eeeeee;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

svg {
  transform: translateX(-56px);
}